
{% extends 'base.html'%}
{% block content %}
<center><h1>Authors</h1></i></center>
<title>Authors</title>
<br>
<div class="alert alert-success" role="alert">
  <center> <h2>Made by Dhaasaradhee K.E, Karthik Nandhan R. & Vyaas R.</h2> </center>
</div>
<hr>
<center><a href="{% url 'scientific_calculator' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">-> Scientific Calculator </a></center>
</br>
<center><a href="{% url 'index' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">-> Standard Calculator </a></center>
{% endblock %}
    